<h1 class="text-center mt-4">edit category</h1>
<%= render 'form' %>
<div class="text-center">
  <%= link_to 'cancel and return to category', category_path(@category), class:"text-light text-decoration-none"%>
</div>
