<h1 class="text-center mt-4">add new category</h1>
<%= render 'form' %>
<div class="text-center">
  <%= link_to 'cancel and return to categories', categories_path, class:"text-light text-decoration-none"%>
</div>
